@import "../../styles.scss";

.start-screen {
  width: 100vw;
  height: 100vh;
  background-color: #404040;
  max-width: 100%;
  @include dflex();
  overflow: hidden;

  @media (max-width: 960px) {
    overflow: hidden;
  }

  > img {
    height: 100vh;
  }
}

.start-label-box {
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  @include dflex();
  > img {
    width: 40vh;
    height: auto;

    @media (max-width: 960px) {
      width: 400px;
    }
    @media (max-width: 960px) {
      width: 280px;
    }

    &:hover {
      filter: brightness(1.25);
    }
  }
}
