@import '../../../styles.scss';

.profile {
    width: 300px;
    @include dflex($jc: flex-start, $g: 16px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    >span {
        font-size: 32px;
    }
    background-color: rgb(50, 50, 50, 0.8);
    >img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}