@import '../../../styles.scss';

.profile {
    width: 300px;
    @include dflex($jc: flex-start, $g: 16px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    >span {
        font-size: 32px;
    }
    background-color: orange;
    >img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}