/* You can add global styles to this file, and also import other style files */
@mixin dflex($fd: row, $jc: center, $ai: center, $g: 0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
